/***************************** HTML ELEMENTS *************************************/
body,html{
  height:100%;
}

body{
  background-color: DeepSkyBlue;
}

h1,h2,h3,h4{
  font-family: "Fredoka One";
  color: black;
}

h1{
  padding-top:30px;
  font-size: 5rem;
  color: black;
}

h2{
  font-size: 3rem;
}

h4{
  padding:0;
  margin-bottom:20px;
}

p,a{
  font-family: "Fredoka One";
}

p{
  font-size: 1.5rem;
}

hr{
  border: 2px solid black;
  border-radius: 10px;
}

input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: "Barlow Semi Condensed";
  background-color: #f8f8f8;
}

button{
  background-color: #f1f1f1;
  border-radius: 5px;
  width: fit-content;
  height:fit-content;
  padding:5px;
  margin:20px;
  font-family: "Barlow Semi Condensed";
}

button:hover{
  background-color: #8f8f8f;
}

select{
  background-color: #8f8d8d;
  color: black;
  font-family: "Fredoka One";
  border:2px solid black;
}

i{
  color: black;
}

ul li {
  background-color: rgba(0,0,0,0.15);
  margin: 5px;
  border-radius: 15px;
  text-align: center;
  padding-left:5px;
  padding-right:5px;
}

/***************************** ID SELECTORS *************************************/
/*Box for adding cards*/
#adding_box{
  background-color: rgba(0,0,0,0.3);
  padding:20px;
  border-radius: 20px;
  width:fit-content;
  height:fit-content;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#adding_box:hover{
  background-color: rgba(0,0,0,0.5);
}


#cards:hover{
  background-color: rgb(15, 15, 15);
}

/*gear icon*/
#settings{
  text-align: center;
  margin-right: auto;
  margin:20px;
}

#settings:hover{
  color:rgba(77, 77, 77);
}

/*Info icon*/
#info{
  text-align: center;
  margin-right: auto;
  margin:20px;
}

#info:hover{
  color:rgba(77, 77, 77);
}

/*Overlay for settings and info*/
#overlay{
  position: fixed; 
  overflow-y: scroll;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ededf0;
  z-index: 2;
}

/*Overlay for message*/
#pre_overlay{
  background-color: rgba(0,0,0,0.8);
  position: fixed; 
  overflow-y: scroll;
  display: none;
  width: 100%;
  height: 100%;
  padding:10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
}

/*The message card overlay itself*/
#card_overlay{
  position: fixed; 
  overflow-y: scroll;
  display: none;
  width: fit-content;
  height: fit-content;
  padding:10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ededf0;
  z-index: 3;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
  border-radius: 5px;
}

/* X icon*/
#cancel_settings{
  margin:20px;
}

#cancel_settings:hover{
  color:#da4f0f;
}

/* Check icon on cards*/
#check{
  background-color: #16df0f;
  padding: 10px;
  margin-left: 10px;
}

/* X icon on cards*/
#x{
  background-color: #f05108;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*H2 on info*/
#secondary_title{
  color: #010652;
}

/*text on card overlay*/
#message{
  color: black;
  font-size: 1.5rem;
  font-family: "Fredoka One";
}
/***************************** CLASS SELECTORS *************************************/
/*Center aligned text*/
.container{
  text-align:center;
}

.card{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  background-color: #dfdfdf;
  width:fit-content;
  height:fit-content;
  padding:10px;
  padding-top: 0;
  padding-bottom: 0;
  border: 1px solid black;
  border-radius: 5px;
}

/*Box of every card*/
.cards{
  width:fit-content;
  height:fit-content;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-left:20px;
  background-color: whitesmoke;
  border-radius: 5px;
  font-family: "Fredoka One";
  font-size: 2rem;
}

.cards:hover{
  background-color:#696969 ;
}
/*for settings titles*/
.properties{
  margin-left: auto;
  margin-right: auto;
  padding:20px;
}

/***************************** MEDIA QUERIES *************************************/
@media screen and (max-width:600px){
  h1{
    font-size: 3.5rem;
  }
  h2{
    font-size: 2rem;
  }
  .cards{
  font-size: 1rem;
  }

  .cards i{
  font-size: 1.5rem;
  }

}